/* adminMember.jsp(관리자:회원관리) css*/
@charset "EUC-KR";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.contents {
	display: block;
    align-items: center;
    background-color: beige;
    height: 360px;
    align-content: center;
    text-align: center;
    height: 100%;
}

.mlist {
	margin: auto;
}

table {
	margin: auto;
}

.memberSearch {
	margin: auto;
}