/* Index(main) css 파일 */
@charset "EUC-KR";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: beige;
}

.bsection {
	display: flex;
    align-items: center;
    background-color: beige;
    height: 360px;
    align-content: center;
}
 img { 
 	display: block;
	margin:auto;
 	}


.psection {
	background-color: beige;
    height: 740px;
}

.plist {
    align-content: center;
    color: black;
    font-weight: bold;
    
}

.new {
	text-align: center;
}

.prow {
	justify-content: center;
	list-style-type: none;
    position: relative;
	display: grid;
	grid-auto-rows: 10;
	grid-template-columns: repeat(5, 250px);
	text-align: center;
}

.more {
    text-align: right;
}