/*취합완료*/

/* Index(main) css 파일 */
@charset "EUC-KR";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

 a:link { text-decoration: none; color: black;}
 a:visited { color: black; text-decoration: none;}
 a:hover { text-decoration: underline;}
 a:active { color: black;}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.blank {
	background-color: beige;
}

body {
	background-color: beige;
}

.bsection {
	display: flex;
    align-items: center;
    background-color: beige;
    align-content: center;
}

 img { 
 	display: block;
	margin:auto;
 	}
 	
.psection {
	background-color: beige;
}

.plist {
    align-content: center;
}

.populartitle, .newtitle {
	display: grid;
	grid-template-columns: repeat(2, 150px);
	width: 1250px;
	position: relative;
	justify-content: space-between;
	padding: 1rem;
	margin: auto;
	
}

.popular, .new {
	text-align: left;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 20px;
	float: left;
}

.popualrmore, .newmore {
	text-align: right;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 15px;
	float: right;
}

.prow {
	justify-content: center;
	list-style-type: none;
    position: relative;
	display: grid;
	grid-auto-rows: 10;
	grid-template-columns: repeat(5, 250px);
	text-align: center;
}

