/* 상품 리스트 css 파일 */
@charset "EUC-KR";

 a:link { text-decoration: none;}
 a:visited { color: black; text-decoration: none;}
 a:hover { text-decoration: underline;}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#container {
    display: grid;
    grid-template-columns: 200px 1fr;
}

.category {
    align-items: center;
    justify-content: center;
    background-color: beige;
    width: 200px;
    height: 100%;
}

.plist {
    align-items: center;
	background-color: beige;
    height: 800px;
}

.product_row {
    list-style-type: none;
}

.ptop {
    background-color: beige;
}

.array {
    display: flex;
    background-color: beige;
    justify-content: space-between;
}

.product {
    position: relative;
    display: block;
    background-color: white;
}

.product_row {
	position: absolute;
	justify-content: center;
	display: grid;
	grid-auto-rows: 10;
	grid-template-columns: repeat(5, 250px);
	text-align: center;
}
