/*디자인빼고 취합완료*/
@charset "EUC-KR";


/*login.jsp*/
/* #level{
	margin:5vh auto;
	border: 1px solid #808080;
}

#level2{
	width: 400px;
	border-collapse: separate;
	border-spacing: 0 20px;
	text-align: center;
}

#level3{
	margin:5vh auto;
}

#level4{
	height: 5vw;
	margin:auto;
	
} */

#loginTbl * {
	margin: 0;
	padding: 0;
}

#loginTbl {
	margin: 0 auto;
	width:25vw;
	height:30vh;
	margin-top:10vh;
	border:1px solid #d1d3d4;
}

#loginTbl .idPwdTr{
	height:5vh;
}

#loginTbl .idTf, #loginTbl .pwdTf {
	height: 5vh;
	width: 21vw;
	border: 1px solid #d3d3d3;
}

#loginTbl .pwdTf {
	margin-bottom:1vh;
	border-top:none;
}

#loginTbl .rememberTd{
	height:1vh;
}

#loginTbl .remember{
	margin-top:1vw;
	margin-left:2vw;
}

#loginTbl .loginBtn{
	border:none;
	background-color: #eee;
	display:inline;
	width:10vw;
	height:4vh;
	text-align: center;
	text-decoration-line: none;
	border-radius: 2px;
	margin-left:2vw;
}

#loginTbl .joinBtn {
	border:none;
	background-color:#eee;
	display:inline;
	width:10vw;
	height:4vh;
	text-align: center;
	text-decoration-line: none;
	border-radius: 2px;
	margin-right:2vw;
}

#findTbl{
	margin: 1vh auto;
}

#findTbl .findIdBtn, #findTbl .findPwdBtn{
	border:none;
	background-color:white;
	color:#a0a0a0;
	font-size:0.9em;
	display:inline;
	width:7.3vw;
	height:1.5vw;
	text-align: center;
	text-decoration-line: none;
}

#infoTbl{
	margin: 1vh auto;
}



/*member.jsp*/

#memberbd {
	background-color: beige;
}

.regFormTb{
	margin: 0 auto; 
	border: 1px solid #808080; 
	width: 40vw;
}

.checkIdBtn{
	display:inline-block;
	width:6vw;
}

.loginlo{
	border-radius: 5px;

}

.logbtn{
	border:none;
	background-color: #9598ca;
	display:inline;
	width:10vw;
	text-align: center;
	text-decoration-line: none;
	border-radius: 5px;
}

.find, .cancel {
	border:none;
	background-color: #9598ca;
	display:inline;
	width:7.3vw;
	height:3vw;
	text-align: center;
	text-decoration-line: none;
	border-radius: 5px;
	
}