@charset "EUC-KR";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100&display=swap');


 a:link { text-decoration: none;}
 a:visited { color: black; text-decoration: none;}
 a:hover { text-decoration: underline;}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-weight: bold;
}

.ssection {
	height: 200px;
	align-items: center;
	display: flex;
	justify-content: space-between;
/* 	background-color: white; */
	text-align: center;
	background-color: beige;
}

.logo {
	width: 200px;
	height: 100%;
}

.search {
	align-items: center;
	width: 650px;
	height: 200px;
	display: block;
	height: auto;

}
.sTf {
	width: 400px;
	height: 30px;

}
.searchBtn {
	color: white;
	font-size: 20px;
	width: 100px;
	height: 30px;
	background-color: #9598ca;
	border: none;
}

.btns {
	width: 250px;
	height: 200px;
	display: flex;
	height: auto;
}


#login, #logout, #join, #cart, #my, #admin{
	color: white;
	font-size: 15px;
	background-color: #9598CA;
	border: none;
}


.csection {
	height: 100px;
	align-items: center;
	display: flex;
	justify-content: space-between;
	font-size: 30px;
	background-color: #9598CA;
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-weight: bold;
}

